.btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;

    color: white;
    background: #A259FF;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-signup {
    text-transform: capitalize;
    width: 152px;
    height: 60px;
}