.account-form--title {
    font-size: 51px;
    line-height: 110%;
    text-transform: capitalize;
    color: #FFFFFF;
}
.account-form--desc {
    max-width: 460px;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    text-transform: capitalize;
    color: #FFFFFF;
    margin: 40px 0;
}
.account-form {
   
}
.account-form--input {
    width: 330px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #858584;
    border-radius: 20px;
    padding: 16px 20px;
    margin-bottom: 30px;
}
.account-form--input:not(:last-of-type) {
    margin-bottom: 12px;
}