.header {
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.brand {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.brand-logo {
    width: 32px;
    height: 32px;
    margin-right: 12px;
}
.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 25px;
    color: var(--color-white);
}
.header-navigation {
    display: flex;
    align-items: center;
}