body {
    font-family: Work;
    background: white;
    color: white;
}
.heading-primary {

}
.heading-secondary {
    font-family: Space;
    font-weight: 700;
    font-size: 22px;
    line-height: 160%;
    color: #FFFFFF;
}
.header-nav--link {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
}
.footer-link {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #CCCCCC;
}